* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  height: 70px;
  width: 100%;
  background-color: #51a2ff;
}

.main-header li:first-of-type {
  margin-left: 100px;
}

.main-header li {
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
}

.main-header a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.main-header a.active {
  color: #000;
}

.main-header a:hover {
  color: #000;
}

.container {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.container #add-bike-form {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.container #add-bike-form div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.container #add-bike-form div input {
  height: 25px;
}

.container #add-bike-form div label {
  font-size: 120%;
  margin-bottom: 5px;
}

.container #add-bike-form button {
  height: 30px;
  background-color: #51a2ff;
}

.container #add-bike-form button:hover {
  height: 30px;
  background-color: #0077ff;
}

.bike-container {
  margin-top: 100px;
  text-align: center;
  height: 300px;
  width: 30%;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.774);
}

.btn {
  display: inline-block;
  border: none;
  width: 100px;
  margin: 8px 0 5px 5px;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  background-color: #51a2ff;
}

.bike-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bike-container .btn:hover {
  background-color: #0077ff
}

.bike-container ul {
  list-style: none;
}