* {
  margin: 0;
  padding: 0;
}

.main-header {
  height: 70px;
  width: 100%;
  background-color: #51a2ff;
}

.main-header li:first-of-type {
  margin-left: 100px;
}

.main-header li {
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
}

.main-header a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.main-header a.active {
  color: #000;
}

.main-header a:hover {
  color: #000;
}

.container {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.container form {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.container form div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.container form div input {
  height: 25px;
}

.container form div label {
  font-size: 120%;
  margin-bottom: 5px;
}

.container form button {
  height: 30px;
  background-color: #51a2ff;
}

.container form button:hover {
  height: 30px;
  background-color: #0077ff;
}

.bike-container {
  margin-top: 100px;
  text-align: center;
  height: 300px;
  width: 33.33%;
}

.bike-container ul {
  list-style: none;
}