<%- include('../includes/start.ejs') %>

</head>
<body>
  <header class="main-header">
    <%- include('../includes/navigation.ejs') %>
  </header>
  <div class="container">
    <h1>Welcome to the bike shop!</h1>
  </div>

<%- include('../includes/end.ejs') %>